@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{margin: 0px; padding: 0px;}

body{font-family: "Open Sans", sans-serif; background: #ebe9e9;}

::-webkit-scrollbar {width: 5px !important; height: 5px !important; }
::-webkit-scrollbar-thumb {background: #0858f7;}
.btn-blue {background: #0858f7 !important; font-size: 14px !important; font-weight: 600 !important; color: #fff !important; border: none;border-radius: 5px; height: 30px;}


header{width: 100%; height: 70px; background: #fff;}
header .logo {text-decoration: none;}
header .logo img{width: 45px;}
header .logo span{color: #403E57; font-weight: 800; font-size: 24px;}

header button.rounded-circle {min-width: 40px !important; width: 40px !important; height: 40px !important; background: #0858f70f; color: #0858f7;}

header button.rounded-circle svg {color: #5e5d72; font-size: 20px !important;  transition: all 0.3s ease-in-out;}
header button.rounded-circle:hover svg{ color: #0858f7 !important;}

.searchBox {width: 240px; height: 40px; background: #0858f70f; border-radius: 6px; padding: 3px 15px; margin-left: 10px;}

.searchBox input {background: transparent; border: 0px; outline: none; padding-left: 5px; font-size: 15px; font-weight: 600; color:#403E57;}
.searchBox input::placeholder {color: #403E57; opacity: 0.6;}

.searchBox input svg { font-size: 20px; color: #403E57;}
#space {margin-right: 35px;}

.myAcc {text-align: left !important; color: #0858f7 !important; text-transform: capitalize !important;}

.userImg {display: flex; align-items: center; justify-content: center; overflow: hidden; width: 40px; height: 40px; border: 2px solid #0858f7; padding: 2px; border-radius: 100%;}
.userImg .rounded-circle { display: flex; align-items: center; justify-content: center; overflow: hidden; width: 40px; height: 40px; cursor: pointer; position: relative;}
.userImg .rounded-circle img {width: 100%; height: 100%; object-fit: cover;}

.myAcc .userInfo {padding-left: 10px;}
.myAcc .userInfo h4 {font-size: 15px; font-weight: 600; margin-bottom: 0px; color: #403E57;}
.myAcc .userInfo p {margin-top: 0px; font-size: 12px; color: #403E57;}

#account-menu li { font-size: 14px !important; padding: 8px 10px;}
#account-menu li svg { font-size: 20px !important;}
#account-menu .log {color: #ff0000 !important;}
#account-menu .log svg {color: #ff0000 !important;}

#Notification-menu .MuiPaper-elevation {right: 20% !important; width: 330px; left: auto !important;}
#Notification-menu li.MuiButtonBase-root {background: #0858f70f;}
#Notification-menu li.MuiButtonBase-root:hover {background: #979aa00f !important;}


#Notification-menu h4 { font-size: 20px; font-weight: 600; padding: 10px 0 0 15px;}

#Notification-menu .dropdownInfo {padding-left: 15px;}
#Notification-menu .dropdownInfo h4 {font-size: 14px; font-weight: 500; white-space: break-spaces; line-height: 25px; margin-top: 0px; margin-bottom: 0px;}
#Notification-menu .dropdownInfo h4 b {font-weight: 600; margin-right: 5px;}
#Notification-menu .dropdownInfo p {font-size: 12px; margin-left: 15px !important; font-weight: 600; margin-top: 0px;}
.text-sky {color: #0858f7;}
.scroll {max-height: 300px; overflow-y: scroll; overflow-x: hidden;}